p{
    color:#DCAB4F;
}

.headerimg {
    width: 200px;
}


body {
    width: 90%;
    margin: auto;
    background-color: black;

}

#heroimage {
    width: 100%;
}


/* div {
  display: block;
} */


.landing-page-container {
  background-color: aqua;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: center;
}

.Section1 {
  margin: auto;
  width: 90%;
}

#Title {
  color: #DCAB4F;
  font-family: 'Spectral', serif;
  font-size: 84px;
  /* text-align: center; */
  padding-top: 250px;
  /* display: flex;
  justify-content: center; */
}

#logo {

  padding-top: 50px;

}

#Graphic {
  padding-top: 300px;
}

#Arrow {
  width:100px;
  padding-top: 100px;
}




/* Timeline inspired by https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline#html */
